<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for("static", filename="myAccountsupplier.css")}}">
    <!-- estilo da página by bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <!-- O Script abaixo serve para ajustar o Iframe de acordo com o tamnho da página -->
    <script>
        function resizeIframe(obj) {
          obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
        }
      </script>
</head>

<body>
    <header class="header">
        <img src="{{url_for('static', filename='images/logo_python_200.png')}}" alt="logo-python">
        <h1>X Tech</h1>
        <nav class="nav-bar">
            <ul class="menu">
                <li>
                {% if current_user.is_authenticated %}
                    <div>  
                    <h2>Bem vindo</h2>
                    <p></p>
                    <a href="{{ url_for('logout') }}">Sair da Conta</a>
                    </div>
                    {% endif %}
                </li>
                <li><img src="{{url_for('static', filename='images/logo_user.png')}}" alt="logo-user"></li>
            </ul>
        </nav>
    </header>
    

    <div class="sidebar">
        
        <ul class="menu-list">
            <header>Meu menu</header>
            <li><a href="#" class="active" >
                <span>Enviar fatura</span>
            </a></li>
            <li><a href="sales_report_supplier" target="frame1" class="active" >
                <span>Relatório de vendas</span>
            </a></li>
            <li><a href="#" class="active" >
                <span>Minha conta</span>
            </a></li>
            <li><a href="#" class="active" >
                <span>Fale conosco</span>
            </a></li>
        </ul>
        <nav class="iframe">
            <iframe src="" name="frame1" width="330%" height="1200" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
        </nav>
    </div>

    <footer>
        <nav class="footer">
            <ul class="links-uteis">
                <li><h2>Links Úteis</h2></li>
                <li><a href="#"> A nossa história</a></li>
                <li><a href="#"> Fale conosco</a></li>
                <li><a href="#"> Rastrear pedido</a></li>
                <li><a href="#"> Perguntas frequentes</a></li>
                <li><a href="{{url_for('my_account_supplier')}}">Área do fornecedor</a></li>  
            </ul>
            <ul class="informacao-legal">
                <li><h2>Informação Legal</h2></li>
                <li><a href="#"> Informação legal</a></li>  
                <li><a href="#"> Política de privacidade</a></li>
                <li><a href="#"> Termos de utilização</a></li>
                <li><a href="#"> Cookies</a></li>
            </ul>
            <ul class="contatos">
                <li><h2>Contatos</h2></li>
                <li><h3>Email:<br/> geral.exemplo@email.com</h3></li>
                <li><h3>Telefone:<br/> 55 xxx xxx xxx</h3></li>    
            </ul>
    </footer>
    <footer class="footer-cr">
        <p>© Copyright, Empresa ABC S.A </p>  
    </footer>
</body>
</html>