<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for("static", filename="products.css")}}">
    <!-- estilo da página by bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
</head>
<body>
    <header class="header">
        <img src="{{url_for('static', filename='images/logo_python_200.png')}}" alt="logo-python">
        <h1>X Tech</h1>
        <nav class="nav-bar">
            <ul class="menu">
                <li>
                    {% if current_user.is_authenticated %}
                        <ul class="user-menu">
                            <li><h2> Olá {{current_user.user_name}}</h2></li>
                            <li><a href="{{ url_for('logout') }}">Sair da Conta</a></li>
                        </ul>  
                        <li><a href="{{url_for('my_account')}}">
                            <img src="{{url_for('static', filename='images/logo_user.png')}}" alt="logo-user"></a></li>
                        <li><a href="{{url_for('carrinho')}}">
                        <img src="{{url_for('static', filename='images/Carrinho_de_Compras_logo.png')}}" alt="logo-carrinho-de-compras"></a></li>
                    {% else %}    
                        <li><a href="{{url_for('login')}}">Minha conta
                        <img src="{{url_for('static', filename='images/logo_user.png')}}" alt="logo-user"></a></li>
                    {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        <ul class="nav-actions">
            <li><a href="{{url_for('home')}}">Produtos</a></li> <!--exemplos de Links para possíveis páginas do site-->
            <li>|</li>
            <li><a href="{{url_for('home')}}">Promoções</a></li> <!--exemplos de Links para possíveis páginas do site-->
            <li>|</li>
            <li><a href="{{url_for('home')}}">Novidades</a></li> <!--exemplos de Links para possíveis páginas do site-->
        </ul>
    </div>
    <main>
        <form action="\add_carrinho", method="POST">
            
            <section class="products">
                <section class="product"> 
                    <img src="{{url_for('static', filename='images/img_sample02.png')}}" >
                    <ul>
                        <li class="product-name">Produto 3</li>
                        <li class="product-price">1.299,99 €</li>  
                    </ul>
                    <input type="number" name="quantity" value="1" min="1" step="1" class="input-quantity">
                    <button onclick="\add_carrinho" name="product" value="produto 3" pro >Adicionar ao carrinho</button>
                </section>
            </section>
        </form>
        
    </main>
    <footer>
        <nav class="footer">
            <ul class="links-uteis">
                <li><h2>Links Úteis</h2></li>
                <li><a href="#"> A nossa história</a></li>
                <li><a href="#"> Fale conosco</a></li>
                <li><a href="#"> Rastrear pedido</a></li>
                <li><a href="#"> Perguntas frequentes</a></li>
                <li><a href="{{url_for('register_supplier')}}">Área do fornecedor</a></li>  
            </ul>
            <ul class="informacao-legal">
                <li><h2>Informação Legal</h2></li>
                <li><a href="#"> Informação legal</a></li>  
                <li><a href="#"> Política de privacidade</a></li>
                <li><a href="#"> Termos de utilização</a></li>
                <li><a href="#"> Cookies</a></li>
            </ul>
            <ul class="contatos">
                <li><h2>Contatos</h2></li>
                <li><h3>Email:<br/> geral.exemplo@email.com</h3></li>
                <li><h3>Telefone:<br/> 55 xxx xxx xxx</h3></li>    
            </ul>
    </footer>
    <footer class="footer-cr">
        <p>© Copyright, Empresa ABC S.A </p>  
    </footer>
</body>
</html>