<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for("static", filename="salesReportcompany.css")}}">
    <!-- estilo da página by bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
</head>
<body>
    
    <form action="/sales_report_company" class="sales_report_company" method="POST">
        <ul>
            <li><label>Selecionar o período para visualizar às faturas registadas.</label></li>
            <li><label>Selecionar tipo do documento.</label></li>
            <li><input type="radio" name="invoiceType" value='sales' checked> Vendas</li> 
            <li><input type="radio" name="invoiceType" value='purchases'> Compras</li>
            <li><label for="start">Data de início:</label></li>
            <li><input type="date" id="start" name="trip-start"
                    min="2022-01-01" max="2022-12-31"></li>
            <li><label for="start">Data final:</label></li>
            <li><input type="date" id="end" name="trip-end"
                    min="2022-01-01" max="2022-12-31"></li></br>
            <li><input type="submit" class=btn-confirm value="Pesquisar"></li>
        </ul>
        <ul>
            <img src='/static/company_sales_plot.png'/ class="img-plot">
        </ul>
    </form>
    {% if invoice_type == 'purchases' %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Fatura Nº</th>
                <th class="text-center">Valor s/iva</th>
                <th class="text-center">Valor c/iva</th>
                <th class="text-center">Data de emisão</th>
                <th class="text-center">Data de registo</th>
            </tr>
        </thead>
        <tbody
        {% for content in purchases_content %}
            <tr>                   
                <td class="text-center">{{content.invoice_number}}</td>
                <td class="text-center">€ {{'%0.2f'| format(content.invoice_value_c_IVA)}}</td>
                <td class="text-center">€ {{'%0.2f'| format(content.invoice_value_c_IVA * ((content.invoice_TAX_IVA/100)+1))}}</td>
                <td class="text-center">{{content.invoice_date}}</td>
                <td class="text-center">{{content.invoice_date_register}}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    {% elif invoice_type == 'sales'%}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Produtos</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Data da venda</th>
            </tr>
        </thead>
        <tbody
        {% for content in sales_content %}
            <tr>                   
                <td class="text-center">{{content.product_name}}</td>
                <td class="text-center">{{content.product_quantity}}</td>
                <td class="text-center">€{{'%0.2f'| format(content.total_amount_s_iva)}}</td>
                <td class="text-center">{{content.sales_date}}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    {%endif%}
</body>

</html>